// network viewer
// 20-color unique scheme based off of Chrome's Material color scheme with an alternating pattern
$aer: #F44336;
$amo: #9C27B0;
$amv: #3F51B5;
$aol: #03A9F4;
$arp: #009688;
$atv: #8BC34A;
$brx: #FFEB3B;
$imb: #FF9800;
$ina: #795548;
$mfx: #607D8B;
$mpb: #E91E63;
$mri: #673AB7;
$nxg: #2196F3;
$pbm: #00BCD4;
$rbc: #4CAF50;
$smt: #CDDC39;
$spx: #FFC107;
$ubr: #FF5722;
$vdp: #9E9E9E;
$xd2: #F44336;
